<mat-card>
    <h1>Login Form</h1>
    <form #loginForm = "ngForm" (ngSubmit) = "onSubmit()">
        <div>
            <mat-form-field appearance="fill">
                <mat-label>Email</mat-label>
                <input matInput placeholder= "example:you@you.com"
                [(ngModel)] = email name = email required>
              </mat-form-field>   
        </div>
        <div>
            <mat-form-field appearance="fill">
                <mat-label>Password</mat-label>
                <input matInput [(ngModel)] = password name = password required>
              </mat-form-field>  
        </div>
        <div>
            <button [disabled] = "!loginForm.form.valid" type = "submit" mat-raised-button color="primary">Login</button>
        </div>
        <p *ngIf = "isError">{{errorMessage}}</p>
    </form>
</mat-card>
