<mat-card>
    <h1>{{formType}}</h1>
    <form #bookForm = "ngForm">
        <div>
            <mat-form-field appearance="standard">
                <mat-label>Title</mat-label>
                <input matInput 
                [(ngModel)] = "title" name = "title" required >
              </mat-form-field>   
        </div>
        <div>
            <mat-form-field appearance="standard">
                <mat-label>Author</mat-label>
                <input matInput [(ngModel)] = "author" name = "author" required>
              </mat-form-field>  
        </div>
        
        <div>
            <button mat-raised-button color="primary" (click)="updateParent()">{{formType}}</button>

            <button mat-raised-button (click)="tellParentToClose()">Cancel</button>
        </div>
    </form>
</mat-card>
