<label id="example-radio-group-label">Pick your favorite season</label>
<mat-radio-group
  aria-labelledby="example-radio-group-label"
  class="example-radio-group"  
  [(ngModel)]="selectedNetwork" >
<mat-radio-button  class="example-radio-button" *ngFor="let option of options" [value]="option"  checked  >
        {{option}}

</mat-radio-button>
</mat-radio-group>
<div *ngIf="!options.includes(selectedNetwork)"><h3>Your favorite channel {{selectedNetwork}} is not available </h3></div>
<mat-form-field style = "width:400px">
  <mat-label>Text to classify</mat-label>
  <textarea matInput
            [(ngModel)] = "text"
            name = "text"
            cdkTextareaAutosize
            #autosize="cdkTextareaAutosize"
            cdkAutosizeMinRows="10"
            cdkAutosizeMaxRows="20"></textarea>
</mat-form-field>
<div>
  <button mat-raised-button (click) ="classify()" color="primary" >Classify</button>
  </div>
<div>
  {{category}} <img [src] ="categoryImage">
</div>
   
  
